:root{
    --magenta: rgb(172, 11, 172);
}

html {
    background-color: #202631;
    color: teal;
}

body, button, input {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input, #chatbox {
    border: 0.5px solid;
    background-color: #195151;
    border-radius: 3px;
    color: rgb(181, 225, 232);
}

header {
    display: inline-grid;
    grid-template-columns: repeat(7, 14.29%);
    align-items: center;
    width: 100%;
}

h1 {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 90px;
    position: relative;
    left: 12%;
    grid-column: 2 / 6;
    justify-self: center;
    margin: 0px;
}

button {
    background-color: var(--magenta);
    box-shadow: 1px 1px;
    color: #fbd0f0;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

/* path.hexagons {
    fill: #7a8a8a;
} */

#joinDiv {
    display: flex;
    float: right;
    gap: 10px;
    grid-column: 6 / 8;
    justify-self: right;
}

#inParty {
    display: none;
    float: right;
    gap: 10px;
    grid-column: 6 / 8;
    justify-self: right;
}

#playerName {
    font-size: 18pt;
    font-style: italic;
    display: inline-flex;
}

#playerList {
    grid-column: 1;
}

.arrows {
    display: inline;
}

#field {
    float: left;
    top: 20px;
    width: 70%;
}

/* The parent div of everything chat related */
#chat {
    position: relative;
    top: 30px;
    right: 20px;
    z-index: 100;
    float: right;
    /* width: 30%; */
}

#inputMes {
    width: 30ch;
}

/* Where the actual message appeaer */
#chatbox {
    margin-top: 5px;
    width: 32ch;
    height: 30em;
    overflow: scroll;
    background-color:grey;
    color: black;
}

/* The div that the contents of a single message is in */
.chatMessage {
    width: inherit;
    height: auto;
    border-width: 1px;
    border-color: black;
}
/* Just style for a player's username */
.chatUsername {
    text-decoration: solid underline;
    font-weight: bold;
    padding-right: 0.25ch;
}

/* different styles for types of messages */
.userMsg {
    background-color: rgb(104, 104, 104)
}
.sysMsg {
    background-color: rgb(242, 192, 12);
}
.joinMsg {
    background-color: palegreen;
}
.leaveMsg {
    background-color: palevioletred;
}
.dimmedMsg {
    filter: brightness(85%);
}


#winnerMessage {
    display: none;
    z-index: 1;
    position: absolute;
    margin-top: 25%;
    background-color: black;
    color: white;
    font-size: 20pt;
}