#field {
    float: left;
    top: 20px;
    position: relative;
}

#chatbox {
    position: absolute;
    top: 30px;
    right: 20px;
    z-index: 100;
    float: right;
}

#winnerMessage {
    display: none;
    z-index: 1;
    position: absolute;
    margin-top: 25%;
    background-color: black;
    color: white;
    font-size: 20pt;
}

#playerName {
    font-size: 18pt;
    font-style: italic;
    display: none;
}